body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}


.bottom {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882FC;
    margin: 150px 100px;
    padding: 50px;
    border: #3882FC;
    border-style: solid;
    border-radius: 5px;
}

.speaker {
    margin-left: auto;
    padding-right: 50px;
    font-weight: bold;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100px;
    color: #1f2937;
}

.lowermiddle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    margin-top: 50px;
    padding: 50px 50px;
    flex-direction: column;
}

.subimage {
    border: #3882FC;
    border-style: solid;
    border-radius: 6px;
}

.random {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.centerimages {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.imagetext {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.uppermiddle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 100px;
    gap: 50px;
}

.awesome {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.subawesome {
    font-size: 18px;
    color:#e5e7eb;
}

.topimage {
    height: auto;
    width: 800px;
    margin: 30px;
}

button{
    background-color: #3882FC;
    border-radius: 6px;
    color: #F9FAF8;
    padding: 5px;
    width: 80px;
    font-weight: bold;
}

.text {
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
    justify-content: center;
    gap: 5px;
    margin: 50px;
}

.upper {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    padding: 20px 30px;
    margin-bottom: 60px;
}

.logo,
.links {
    margin: 0px 50px;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding: 10px 30px;
}

.links {
    margin-left: auto;
    gap: 10px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

img {
    width: 100%;
}